
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";

$base-color: rgba(0,0,0,1);

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.clear {
    clear: both;
}
.right {
    text-align: right;
}

.container {
    //min-width: 1020px;
}

.center {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px #e5e5e5 solid;
}

.description {
    padding-bottom: 0.6rem;
}

.grayOut {
    color: lighten( $base-color, 40% )
}

ul.petitionsList > li {
    list-style: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

li.petition {
    .name {
        margin-bottom: 4px
    }
    .meta {
        font-size: .875rem;
        span {
            padding-right: 1.14rem;
        }
    }
    .graphContainer canvas {
        //max-height: 50px;
    }
}

h3 {
    font-size: 1.4rem;
}

.stats {
    display: block;

    .daily {
        font-size: 8rem;
        margin-bottom: -0.3em;
        text-align: center;
    }

    .weekly, .monthly {
        font-size: 2rem;
        margin-bottom: -0.3em;
    }

    .label {
        font-size: 1rem;
    }

    .dailyContainer {
        margin-bottom: -0.8rem;
    }
}
